@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-delius-unicase: 'Delius Unicase', cursive;
  --font-sour-gummy: 'Sour Gummy', cursive;
}

.font-delius-unicase {
  font-family: var(--font-delius-unicase);
}
.font-sour-gummy {
  font-family: var(--font-sour-gummy);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
